
<form class="form-inline" role="form">
<div class="form-group">
<input type="text" class="form-control" placeholder= "AAPL, TSLA, FB, etc..." />
<button type="submit" class= "btn btn-default">Get Quote</button>
<div>
</form> 