
<div ng-app="stockWatchApp" ng-controller="stockWatchController">
<div>
	<div class="navbar-default sidebar" role="navigation">
		<ul class="nav" id ="side-menu">
			<li class="sidebar-search">
				<div class="input-group custom-search-form">
					<input type="text" class="form-control" placeholder="Company/Symbol" ng-model="searchTerm" id="search_bar" ng-change="autocomplete()" ng-enter="searchQuote()" />
						

					<div class="input-group-btn">
						<button class= "btn btn-default search" id="quote_button" ng-click="searchQuote()">
							<i class="glyphicon glyphicon-search"></i>
						</button>
					</div>

				</div>
			</li>
		
			<li>
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class='panel-title'>Twitter Feed
							<ul style="list-style-type: none; list-style:none; padding-left:0; font-size: 14px;">
						    	<li ng-repeat="tweet in stock.tweets" style="padding: 17px 5px 17px 5px;">
						    		<span style="color: darkgray; word-wrap: break-word;"><b>{{tweet.user.name}}</b>@{{tweet.user.screen_name}}</span>
						    		<div>
						    			{{tweet.text}}
						    		</div>
						    		
						    		
						    	</li>
							</ul>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>	
</div>



<div id="page-wrapper">
<div class="row">
	<div class="col-lg-12">
		<h3 class="page-header">
			
			<span ng-if="stock != null">
				Company: {{companyLabel}} | Symbol: {{symbolLabel}} | Quote: {{stock.values[stock.values.length-1]}} 
				<!-- Bullishness: {{stock.sentiment[stock.sentiment.length-1].bullish}} -->
			</span>
		</h3>
	</div>
</div>	
	<div class="row" />
	
	<div class="col-lg-8">

		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="glyphicon glyphicon-signal"></i>&nbspSentiment Gauge
			</div>
			<div class="panel-body">
				
				<div>
					<a href="#" id="example" class="btn btn-primary" rel="popover"
					   data-content="The 0 - 4 sentiment scale measures both the intensity of the sentiment expressed by individuals but also the collective volume of that sentiment expressed over the crowd mood.
						Sentiment is public mood about knowledge contained within the public domain."
					   data-original-title="Market Sentiment">Info
					</a>
				</div>
				
				<div id="g4" style="width: 275px; height: 220px; float: left;"></div>
				<div id="g5" style="width: 275px; height: 220px; float: right;"></div>
				
				
				<div id="graph"></div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="glyphicon glyphicon-signal"></i>&nbspSentiment Charts
			</div>
			<div class="panel-body">
				<div id="bull-chart" style="height: auto; min-width: 310px;"></div>
				<div id="stock-chart" style="height: auto; min-width: 310px"></div>
			</div>
		</div>

	</div>
	<div class="col-lg-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="glyphicon glyphicon-list-alt"></i>&nbspCompany News
				<ul>
					<li ng-repeat="item in news">
						<a href="{{item.link}}">{{item.title}}</a>
					</li>
				</ul>
			</div>
			<div class="panel-body">
				<div></div>
			</div>
		</div>	
	</div>

</div>	
</div>
<table>

 

</table>
</div>