<!DOCTYPE html>
<html>
<head>
  <title>StockWatch</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  
  <script src="http://code.highcharts.com/stock/highstock.js"></script>
  <script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>
  <script src="http://cdn.jsdelivr.net/justgage/1.0.1/justgage.js"></script>

  <style type='text/css'>
    .body {
    font: 10px sans-serif;
}
.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}
.line.second {
    stroke: red;
}
.area {
    fill: none;
    opacity: 0.5;
}
.dot {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}
#tagId {
  height: 400px;
  width: auto;
}
  </style>

 
  
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
